## Imports
import(BiocGenerics, methods)

## Importing functions
importFrom("jsonlite", "fromJSON")
importFrom("remotes", "install_github")
importFrom("utils", "download.file", "install.packages")

## Functions
export(
    "pathList", "genWorkenvir", "availableWF", "getSubsetReads" 
) 
